.react-datepicker-popper {
  z-index: 9999 !important;
  overflow: visible !important;
}

.react-datepicker__input-container {
  width: 100% !important;
}

.dark-mode .react-datepicker {
  background-color: #333;
  border-color: #444;
}

.dark-mode .react-datepicker__header {
  background-color: #444;
  color: #fff;
}

.dark-mode .react-datepicker__current-month,
.dark-mode .react-datepicker-time__header,
.dark-mode .react-datepicker-year-header {
  color: #fff;
}

.dark-mode .react-datepicker__navigation {
  color: #fff;
}

.dark-mode .react-datepicker__navigation--previous {
  border-right-color: #fff;
}

.dark-mode .react-datepicker__navigation--next {
  border-left-color: #fff;
}

.dark-mode .react-datepicker__day-name,
.dark-mode .react-datepicker__day,
.dark-mode .react-datepicker__time-name {
  color: #ddd; /* Un poco más oscuro que blanco para un mejor contraste */
}

.dark-mode .react-datepicker__day:hover {
  background-color: #555;
  color: #fff;
}

.dark-mode .react-datepicker__day--selected,
.dark-mode .react-datepicker__day--keyboard-selected {
  background-color: #666;
  color: #fff;
}

.dark-mode .react-datepicker__day--outside-month {
  color: #888; /* Más oscuro para días fuera del mes */
}

.dark-mode .react-datepicker__month--selecting-range .react-datepicker__day--in-range {
  background-color: #555;
  color: #fff;
}

/* Si hay más elementos específicos que necesitas ajustar, puedes continuar agregando selectores y estilos aquí. */

/* Puedes continuar definiendo más estilos oscuros según lo necesites */


.icon-transition {
  transition: all 1s ease-in-out;
}
